body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background: #98c6d5;
    color: #fff;
    padding: 1rem 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
#h1{
    color: #fff;
    letter-spacing: 0.3rem;
}
.h{
    background-color: darkcyan;
    text-align: center;
}
#p1 b{
    color: rgb(89, 10, 10);
}
main {
    padding: 2rem;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-family: Arial, sans-serif;
}
.f{
    background-color: #98c6d5;
}
h6{
    background-color: aquamarine;
    text-align: center;
    font-size: large;
}